$steps: 30;
@keyframes rainbow-shift {
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      color: hsla(random(360), 100, 50, 1)
    }
  }
}

.shifting-rainbow-text {
  animation-name: rainbow-shift;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  .header {
    grid-column-start: 2;
    margin: auto;
    font-family: "Courier New";
  }
}
